.button {
  height: 100px;
  width: 250px;

  margin-bottom: 20px;
  border: none;
  background-color: orange;
}

h1 {
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 960px) {
  li {
    background-color: lightblue;
  }

  #CampsitePageContainer {
    width: 100%;
  }

  #Desktop {
    display: none;
    margin: 0px;
  }
}

@media only screen and (min-width: 960px) {
  #Mobile {
    display: none;
    width: 100%;
  }
}
